.about-header {
    font-size: 2rem;
}

p {
    font-size: 1.1rem;
    font-weight: normal;
}

.about-us-info {
    display: flex;
    gap: 2rem;
    margin: 2rem 6rem 6rem 5rem;
    align-items: center;
    font-size: 1.2rem;
}

.about-us-info img {
    border-radius: 50%;
    width: 200px;
}

.about-us-text {
    line-height: 1.8rem;
}

.mission-text {
    padding-left: 14.4rem;
}

@media only screen and (max-width: 800px) {
    .about-us-info {
        flex-direction: column;
        margin: 8rem 2rem 4rem 2rem;
    }

    .mission-text {
        padding: 0;
    }
}