#content-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#content-info-container img {
    height: fit-content;
    box-shadow: -0.5rem 0.5rem 1rem grey;
}

#content-info {
    font-weight: normal;
    margin-left: 7rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    width: 70%;
}

#content-info h3 {
    font-size: 2rem;
}

#content-info h4 {
    font-size: 1.2rem;
    margin-bottom: .7rem;
    margin-top: .5rem;
}

.envelope-container {
    display: flex;
    margin-bottom: 3rem;
}

.envelope-text {
    margin-left: 3rem;
}

@media only screen and (max-width: 1200px) {
    #content-info-container {
        flex-direction: column;
        align-items: flex-start;
    }

    #content-info {
        width: auto;
        margin-right: 5rem;
    }
}

@media only screen and (max-width: 800px) {
    #content-info-container {
        margin-right: 1rem;
        margin-top: 3.2rem;
    }

    #content-info {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-bottom: 1rem;
    }

    #content-info-container img {
        margin-left: 1rem;
        margin-bottom: 1.5rem;
        display: flex;
        align-self: center;
        min-width: 0;
    }

    .envelope-container {
        flex-direction: column;
    }

    .envelope-text {
        margin-left: 0;
    }
}